html {
	margin: auto;
}
html, body {
	height: 100%;
	width: 95%;
}
body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 50px;
	text-align: center;
}
.temple {
    background-image: url(https://cdn.nagami.moe/bg/bg_story_tiancheng7.png);
}
h1 {
    font-size: 80px;
    background-color: rgba(0, 0, 255, 0.468);
    border-radius: 500px;
}
.item {
    display: inline-block;
    position: relative;
    margin: 100px;
}
img {
    width: 500px;
    border-radius: 300px;
    box-shadow: 10px 5px rgb(92, 92, 175);
}
.overlay {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(rgba(81, 87, 133, 0.56), rgb(67, 72, 117));
  border-radius: 300px;
}
.text {
    background-color: rgb(148, 94, 189);
  font-size: 15px;
  position: absolute;
  padding: 15px;
  border-radius: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item:hover .overlay {
  opacity: 1;
}
.linklist button {
    background-color: rgb(238, 168, 117);
    width: 50px;
    border-radius: 50px;
    font-size: 20pt;
    text-decoration: none;
    color: black
}
.linklist form {
  display: inline;
}