body {
  background-image: url(https://cdn.nagami.moe/bg/star_level_bg_1102.png);
  font-family: "Comic Relief", cursive;
  text-align: center
}

#sidebar {
  position: fixed;
  width: 300px;
  padding: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  height: 100%;
  background: linear-gradient(0.25turn, #2b2b2b 1%, #575656, #2b2b2b 99%)
}
.view.hidden {
  display: none;
}
.outerContent {
  display: none;
}
.outerHeader {
  background-color: #992929;
    padding: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  user-select: none;
  margin-bottom: 10px;
}
.outerCollapsible.open > .outerContent {
  display: block;
}

/* Inner collapsibles */
.collapsibleContent {
  display: none;
}
.collapsible.open > .collapsibleContent {
  display: block;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  user-select: none;
}

.collapsible {
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  overflow: hidden;
}

.collapsibleHeader {
  background: #456ead;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  user-select: none;
}

.collapsibleContent {
  display: none; /* collapsed by default */
  background: #222;
  text-align: left
}

.collapsible.open .collapsibleHeader::after {
  content: "▲";
  float: right;
}

.collapsibleHeader::after {
  content: "▼";
  float: right;
}

.outerHeader::after {
  content: "▼";
  float: right;
}

.collapsible button {
   border-radius: 40px;
  padding: 3px 6px;
  display: inline;
  text-align: left;
}

.allied {
   background-color: #1a2a3a;
  color: #cef;
}

button img {
  max-height: 10px;
  padding-right: 4px;
  filter: brightness(0.8) contrast(1.6);
}
.crimson {
  background-color: #3a1a32;
  color: #ffbcbc;
}
.meta {
  background: linear-gradient(0.75turn, #6d1212, #d95c11);
  color: #fff1a7;
}
.x {
  background: linear-gradient(0.75turn, #91bbd4,#072d4e);
  color: #ff1e1e;
}
.siren {
  background: linear-gradient(#efed56, black, #2c2152);
  color: #cef;
}
.pirate {
  background: linear-gradient(0.75turn,#237d98, blue,#237d98);
  color: wheat;
}
.submenu {
  display: none;
  margin-left: 20px;
}

.submenu.open {
  display: block;
}

.submenu-group {
  margin-bottom: 10px;
  background-color: blue;
}

.submenu-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #ccc;
}
button.active {
  background-color: #666;
  color: white;
  border: 1px solid gold;
}
h3 {
  background-color: #4e4ad0;
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
}
#chibiList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#chibiList button, #skinList button {
  border-radius: 40px;
  border: 1px solid #467;
  padding: 3px 6px;
  display: block;
  margin: 10px;
}
.chibi-item {
  flex: 0 0 45%;   /* two per row */
  text-align: center;
  border: 1px solid gold;
  border-radius: 30px; 
}

.chibi-item img {
  width: 85%;
  cursor: pointer;
  padding: 10px;
}


.chibi-caption {
  color: black;
  font-weight: bold;
  background-color: #ffd70021;
  display: inline-block;
  border-radius: 30px;
  padding: 2px;
}
#animList button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  background: #444;
  color: #fff;
  border: none;
  cursor: pointer;
}
#animList button:hover {
  background: #555;
}

/* Outer collapsible */

select {
  width: 80%;
  display: block;
  background: #353582;
}
#option button {
   border-radius: 40px;
  border: 1px solid #467;
  padding: 3px 6px;
  display: flex;
}

#skinList {
  display: flex;
  flex-wrap: wrap;
}
.skin-item {
  max-width: 50%;
  height: 200px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}
.skin-caption {
  display: inline-block;
  padding: 10px;
  font-weight: bold;
}
#backToChibis {
  margin: 30px;
}
input {
  width: 90%;
  padding: 6px;
  margin-bottom: 10px;
  font-family: "Comic Relief", cursive;
}
button[data-filter="N"] {
  background-color: gray;
  opacity: .9;
}
button[data-filter="R"] {
  background-color: lightblue;
  opacity: .9;
}
button[data-filter="E"] {
  background-color: violet;
  opacity: .9;
}
button[data-filter="SR"], button[data-filter="PR"] {
  background: linear-gradient(90deg, #ffdf00, #fcc, #ffdf00);
  opacity: .9;
  animation: colorFlow;
}
button[data-filter="UR"] {
  background: linear-gradient(
    90deg,
    cyan,
    blue,
    violet,
    red
  );
  background-size: 400% 100%;
  animation: rainbowFlow 6s linear infinite;
  color: white;
}

@keyframes rainbowFlow {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}
@keyframes colorFlow {
   0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}
button[data-filter="DR"] {
   background: linear-gradient(
    90deg,
    violet,
    red,
    cyan,
    blue   
  );
  background-size: 400% 100%;
  animation: rainbowFlow 6s linear infinite;
  color: white;
}




