html, body {
  margin: 0;
  padding: 0;
  background: transparent;
}



#chibiCanvas {
  background: transparent;
  position: relative;
  z-index: 1;
}

#chibiCanvas canvas {
  background: transparent;
  display: block;
  margin: 0 auto;
}


