#sidebar {
  position: fixed;
  width: 300px;
  padding: 10px;
  background-color: darkgrey;
  top: 0;
  left: 0;
}
.view.hidden {
  display: none;
}
#chibiList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chibi-item {
  flex: 0 0 48%;   /* two per row */
  text-align: center;
    border: 1px solid white;
}

.chibi-item img {
  width: 70%;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px; 
}

.chibi-item img:hover {
  border-color: #ffcc00;
}

.chibi-caption {
  margin-top: 5px;
  color: #fff;
}
#animList button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  background: #444;
  color: #fff;
  border: none;
  cursor: pointer;
}
#animList button:hover {
  background: #555;
}





